<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>放大镜插件</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	
	<!-- 初始化，可自行替换图片，或更改index.css中的图片大小，以及#img-box的位置 -->
	<div id="img-box">
		<div id="min_pho">
			<div id="silder"></div>
			<img src="../img/index.png" id="small_pic"/>
		</div>
		<div id="max_pho">
			<img src="../img/index.png" id="big_pic"/>
		</div>
	</div>
		
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="../js/skill.js"></script>
</html>